.jumbotron {
	padding-top: 2rem;
	background-color: powderblue;
}

#projects {
	background-color: powderblue;
}

#about{
		background-color: pink;
}

#contact {
	background-color: pink;
}
